/*Tabs */
.clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

html, body{
  margin: 0;
  padding-top: 25px;
  border:0;

    /* Below is with added columns
    height: 100%; */
  min-width: 320px;
  width:auto;
  position: relative;
  
}
/* /END mixens*/
body.tab {
  font-size: 16px;
  
}

.colGroup {
  width: 100%;
  .clearfix;
  
  .col {
    width: 18%;
    float: left;
    margin: 0 1%;
    position: relative;
    perspective: 800;
   
  }
}


.btn {
  background: #e74c3c;
  text-decoration: none;
  margin-bottom: 30px;
  text-align: center;
  padding: 1em 0;
  display: block;
  color: #fff;
  transition: background .3s;
  
  &:hover {
    background: lighten(#e74c3c, 10%);
  }
  
}


.card {
  height: 180px;
  width: 100%;
  position : absolute;
  
  .front,
  .back {
    background : steelblue;
    position : absolute;
    top : 0;   
    height : 150px;
    width : 100%;
    display: table;
    
    p {
      display: table-cell;
      vertical-align: middle; 
      text-align: center;
      color : #fff;
    }
  }
}

td {
	color:#bc2c2c;
}

