a:hover {
	color: indigo;
	text-decoration: none;
}

.three-column
{

  margin-bottom: 20px;
}


a.enter:hover{
	text-shadow: 2px 2px indigo;
}

h2.nav:hover{
	text-shadow: 2px 2px indigo;
	text-decoration: none;
	outline-style: none
}

table.rev {

	list-style: none;

}

table.rev td {

  list-style: none;
  display: inline-block;
  min-width:280px;
  width: 45%;
  min-height: 250px;
  height: 320px;
  margin: auto;

}


@media only screen and (max-width: 500px) {


  table.rev {
    border: none;
    width: 80%;
    max-width: 500px;
    min-width: 220px;
    background: transparent;
    /*background-image: url(img/DiscoLightsVidevo.mp4) center; */
    height: auto;

  }

  table.rev td {
    display: inline-block;
    width: 90%;
    margin-left: 15px;

  }

  table.rev tr {
    display: inline-block;
    width: 90%;
    margin-left: 15px;

  }

  table.rev tr td {
    display: inline-block;
    width: 100%;

  }