/* Kintetic CSS3 Animation */
#solarsystem {
	position: relative;
	margin: auto;
	padding: 0;
	width: 1000px;
	height:1000px;
}

#solarsystem ol li{
	display: block;
	overflow: hidden;
	text-indent: -100%;
}

/* The Sun */
#solarsystem ol>li:nth-child(1) {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: red;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left: -50px;
	margin-top: -50px;
}

/* Mercury */ 
#solarsystem ol>li:nth-child(2) {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: green;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left: -80px;
	margin-top: -5px;
}

/* Venus */ 
#solarsystem ol>li:nth-child(3) {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: orange;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left:  -110px;
	margin-top: -8px;
}

/* Earth */
#solarsystem ol>li:nth-child(4) {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: blue;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left:  -150px;
	margin-top: -10px;
}

/* Mars */
#solarsystem ol>li:nth-child(5) {
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background: red;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left:  -170px;
	margin-top: -14px;
}

/* Jupiter */
#solarsystem ol>li:nth-child(6) {
	width: 40px;
	height: 40px;
	border-radius: 20px;	
	background: red;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left:  -230px;
	margin-top: -14px;
}

/* Saturn */
#solarsystem ol>li:nth-child(7) {
	width: 36px;
	height: 36px;
	border-radius: 18px;
	background: green;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left:  -280px;
	margin-top: -18px;
}

/* Uranus */
#solarsystem ol>li:nth-child(8) {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background: orange;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left:  -320px;
	margin-top: -29px;
}

/* Neptune */
#solarsystem ol>li:nth-child(9) {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: aqua;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left:  -360px;
	margin-top: -34px;
}

/* Pluto */
#solarsystem ol>li:nth-child(10) {
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background: grey;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left:  -400px;
	margin-top: -8px;
}

/* scripts */

@-webkit-keyframes orbitsun {
		from { -webkit-transform:rotate(0deg)}
		to { -webkit-transform:rotate(360deg)}
}
@-moz-keyframes orbitsun {
		from { -moz-transform:rotate(0deg) }
		to { -moz-transform:rotate(360deg) }
}

#solarsystem ol>li { 
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-name: orbitsun;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-moz-animation-name: orbitsun;
}

/* IS BELOW PLANETS LISTED AGAIN NECESSARY? WHAT IS UP WITH IMAGES IE SUN.JPG VENUS.JPG ETC... CONFUSED*/

/* Mercury animation */
#solarsystem ol>li:nth-child(2) {
	-webkit-animation-duration:5s;
	-moz-animation-duration: 5s;
}

/* Venus animation */
#solarsystem ol>li:nth-child(3) {
	-webkit-animation-duration:10s;
	-moz-animation-duration: 10s;
}

/* Earth animation */
#solarsystem ol>li:nth-child(4) {
	-webkit-animation-duration:15s;
	-moz-animation-duration: 15s;
}

/* The Moon animation */
#solarsystem ol>li:nth-child(4) li {
	-webkit-animation-duration:3s;
	-moz-animation-duration: 3s;
}

/* Mars animation */
#solarsystem ol>li:nth-child(5) {
	-webkit-animation-duration:20s;
	-moz-animation-duration: 20s;
}

/* Jupiter animation */
#solarsystem ol>li:nth-child(6) {
	-webkit-animation-duration:25s;
	-moz-animation-duration: 25s;
}

/* Saturn animation */
#solarsystem ol>li:nth-child(7) {
	-webkit-animation-duration:30s;
	-moz-animation-duration: 30s;
}

/* Uranus animation */
#solarsystem ol>li:nth-child(8) {
	-webkit-animation-duration:35s;
	-moz-animation-duration: 35s;
}

/* Neptune animation */
#solarsystem ol>li:nth-child(9) {
	-webkit-animation-duration:40s;
	-moz-animation-duration: 40s;
}

/* Pluto animation */
#solarsystem ol>li:nth-child(10) {
	-webkit-animation-duration:45s;
	-moz-animation-duration: 45s;
}

/* The Sun */
#solarsytem ol>li:nth-child(1){
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: red url(sun.jpg) no-repeat top left;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left: -50px;
	margin-top: -50px;
	-webkit-box-shadow: 0px 0px 20px #fc9d34;
	-moz-box-shadow: 0px 0px 20px #fc9d34;
	box-shadow: 0px 0px 20px #fc9d34;
}

/* Mercury */
#solarsystem ol>li:nth-child(2){
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: green;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left: -80px;
	margin-top: -5px; 
	-webkit-transform-origin: 80px 5px;
	-moz-transform-origin: 80px 5px;
}

/* Venus */
#solarsystem ol>li:nth-child(3){
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: orange url(venus.jpg) no-repeat top left;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left: -110px;
	margin-top: -8px;
	-webkit-transform-origin: 110px 8px;
	-moz-transform-origin: 110px 8px;
}

/* The Earth */
#solarsystem ol>li:nth-child(4){
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: blue url(earth.jpg) no-repeat top left;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left: -150px;
	margin-top: -10px;
	-webkit-transform-origin: 150px 10px;
	-moz-transform-origin: 150px 10px;
}

/* The Moon */
#solarsystem ol>li:nth-child(4) li {
	width: 10px;
	height: 10px;
	background: grey;
	text-indent: -100000px;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left: -155px;
	margin-top: -12px;
	-webkit-transform-origin: 155px 12px;
	-moz-transform-origin: 155px 12px;
}

/* Mars */
#solarsystem ol>li:nth-child(5) {
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background: red;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left:  -170px;
	margin-top: -14px;
	-webkit-transform-origin: 170px 14px;
	-moz-transform-origin: 170px 14px;
}

/* Jupiter */
#solarsystem ol>li:nth-child(6) {
	width: 40px;
	height: 40px;
	border-radius: 20px;	
	background: red;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left:  -230px;
	margin-top: -14px;
	-webkit-transform-origin: 230px 14px;
	-moz-transform-origin: 230px 14px;
}

/* Saturn */
#solarsystem ol>li:nth-child(7) {
	width: 36px;
	height: 36px;
	border-radius: 18px;
	background: green;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left:  -280px;
	margin-top: -18px;
	-webkit-transform-origin: 280px 18px;
	-moz-transform-origin: 280px 18px;
}

/* Uranus */
#solarsystem ol>li:nth-child(8) {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background: orange;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left:  -320px;
	margin-top: -29px;
	-webkit-transform-origin: 320px 29px;
	-moz-transform-origin: 320px 29px;
}

/* Neptune */
#solarsystem ol>li:nth-child(9) {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: aqua;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left:  -360px;
	margin-top: -34px;
	-webkit-transform-origin: 360px 34px;
	-moz-transform-origin: 360px 34px;
}

/* Pluto */
#solarsystem ol>li:nth-child(10) {
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background: grey;
	position: absolute;
	top: 500px;
	left: 500px;
	margin-left:  -400px;
	margin-top: -8px;
	-webkit-transform-origin: 400px 8px;
	-moz-transform-origin: 400px 8px;
}
